
body{
    background-color: hsl(202, 86%, 94%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 14px;
    font-weight: 500, 700;
    font-family: 'Plus Jakarta Sans', sans-serif;

    /* result_box translate(-50px) */
    /* Set all element to center */
    padding-left: 50px; 
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 590px;
}

.calculator_box{
    background-color: hsl(0, 0%, 100%); 
    color: hsl(200, 24%, 40%);
    box-sizing: border-box;
    width: 520px;
    max-height: 590px;
    padding: 30px;
    padding-right: 80px;  /* padding 30 + translate(50) */
    border-radius: 20px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

form{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 1.5rem;
    margin: 0;
}

label, button{
    cursor: pointer;
}

#clear_all_button{
    cursor: pointer;
    text-decoration: underline;
    vertical-align: middle;
}
.form_top_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.mortgage_calculator_heading{
    margin-top: 0;
    display: inline-block;
    color: hsl(202, 55%, 16%);
}

/* Mortgage Amount, Mortgage Term & Interest Rate */
.input_container{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
.input_col_p{
    width: 100%;
    margin-bottom: 8px;
}
label{
    border: 1px solid hsl(200, 24%, 40%);
    border-radius: 5px;
    background-color: hsl(202, 86%, 94%);
    box-sizing: border-box;
    display: flex;  /* inline cannot set wdith*/
    flex-wrap: nowrap;
    height: 2.7rem;
    width: 100%; 
}
label:hover{
    outline: hsl(61, 70%, 52%) solid 2px;
    background-color: hsl(61, 70%, 52%);
}

.input_tag{
    background-color: hsl(202, 86%, 94%, 0%);
    border-radius: 0 5px 5px 0;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    padding: 8px;
    min-width: 40px;
    max-width: 55px;
}
.input_tag_type1{
    border-radius: 5px 0 0 5px;
}
#years_input_tag{
    width: 6.5rem;
}
label > input{
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    outline: 0;
}
.input_sub_item{
    width: 45%;
}


/* Mortgage Type */
.mortgage_type_span{
    padding: 8px;
    color: hsl(202, 55%, 16%);
}
.seperate_div{
    width: 10%;
}
.radio_input{
    width: 18px;
    margin: 0 1rem;
}
#mortg_type_repayment_label{
    margin-bottom: 10px;
}
.mortg_type_label{
    background-color: hsl(0, 0%, 100%);
}

/* Calculate Button */
form > button{
    margin-top: 40px;
    border-radius: 20px;
    border: 0;
    width: 60%;
    height: 2.8rem;
    background-color: hsl(61, 70%, 52%);
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
}
form > button > span{
    margin-left: 12px;
    color: hsl(202, 55%, 16%);
}
form > button:hover{
    background-color: hsl(61, 70%, 52%, 60%);
}

.error_message{
    margin-bottom: 0px;
    color: hsl(4, 69%, 50%);
}

/* Result Box */
.result_box{
    background-color: hsl(202, 55%, 16%);
    color: hsl(0, 0%, 100%);
    font-size: 0.8rem;
    text-align: center;

    box-sizing: border-box;
    width: 470px;
    height: 500px;
    padding: 30px;
    border-radius: 0 20px 20px 50px;
    transform: translate(-50px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty_result{
    /* Change state */
    display: block; 
}
#result_cal_icon{
    margin: auto;
}

.completed_result{
    /* Change state */
    /* display: none; */

    text-align: left;
    align-items: normal;
}
#result_description{
    font-weight: normal;
    color: hsl(203, 41%, 72%);
}

.cost_container{
    background-color: hsl(180, 30%, 9%);
    color: hsl(203, 41%, 72%);
    border-radius: 2px;
    box-shadow: 0 -3px hsl(61, 70%, 52%);
    height: 50%;
    padding: 20px;
    margin-top: 2.5rem;
}
.cost_container_linebreak{
    height: 0px;
    border: 1px solid hsl(203, 6%, 57%);
}
#monthly_repayment{
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 20px 0;
    color: hsl(61, 70%, 52%);
}
#total_repayment{
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}
.empty_div{
    height: 80px;
}

@media screen and (max-width: 850px){
    .calculator_box{
        min-height: 530px;
    }
    .result_box{
        min-height: 530px;
    }
}

/* mobile */
@media screen and (max-width: 700px){
    body{
        /* background-color: blue; */ /* debug */
        display: block;
        padding: 0;
        min-width: 230px;
    }
    .calculator_box{
        width: 100%;
        max-height: 610px;
        min-height: 580px;
        border-radius: 0px;
        padding: 30px;
    }

    /* Heading */
    .form_top_row{
       flex-wrap: wrap;
    }
    .mortgage_calculator_heading{
        width: 100%;
        margin-bottom: 10px;
    }

    /* Mortgage Term & Interest Rate */
    .input_sub_item{
        width: 100%;
    }
    .seperate_div{
        display: none;
    }

    form > button{
        width: 100%;
        margin-top: 20px;
    }

    .result_box{
        transform: translate(0);
        width: 100%;
        border-radius: 0px;
    }
}