
body{
    background-color: hsl(202, 86%, 94%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 16px;
}

.calculator_box{
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    width: 520px;
    height: 500px;
    padding: 30px;
    padding-right: 80px;  /* padding 30 + translate(50) */
    border-radius: 20px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

form{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 1.5rem;
}

.form_top_row{
    display: flex;
    justify-content: space-between;
}
#mortgage_calculator_heading{
    margin-top: 0;
    display: inline-block;
    color: hsl(202, 55%, 16%);
}


.result_box{
    background-color: hsl(202, 55%, 16%);
    box-sizing: border-box;
    width: 470px;
    height: 500px;
    padding: 30px;
    border-radius: 0 20px 20px 50px;
    transform: translate(-50px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty_result{
    display: block;
}
#result_cal_icon{
    margin: auto;
}